// fonts
@font-face {
	font-family: 'Avenir';
	src: local('Avenir'),
		url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff2')
			format('woff2'),
		url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.woff')
			format('woff'),
		url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.ttf')
			format('truetype'),
		url('https://cdn-s3.headout.com/assets/fonts/avenir-roman.eot?#iefix');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Avenir';
	src: local('Avenir'),
		url('https://cdn-s3.headout.com/assets/fonts/avenir-black.woff2')
			format('woff2');
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: Graphik;
	src: local('Graphik'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff2')
			format('woff2'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.woff')
			format('woff'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Regular-Web.eot?#iefix');
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: Graphik;
	src: url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix');
	src: local('Graphik'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff2')
			format('woff2'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.woff')
			format('woff'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Medium-Web.eot?#iefix')
			format('eot');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: Graphik;
	src: local('Graphik'),
		url('https://cdn-s3.headout.com/assets/fonts/Graphik-Semibold-Web.woff')
			format('woff');
	font-weight: 600;
	font-display: swap;
}
